<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create post</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <div class="form-group row">
        <img
          [src]="userImg"
          alt="Girl in a jacket" class="avatar">

        <div class="form-group">
          <label for="exampleInputEmail1" class="col-form-label">{{name}}</label>
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" ngbDropdownToggle>{{menu}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button type="button" ngbDropdownItem (click)="selectDropdown('Public')">Public</button>
                  <button type="button" ngbDropdownItem (click)="selectDropdown('Private')">Private</button>
                  <button type="button" ngbDropdownItem (click)="selectDropdown('Only Friends')">Only Friends</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <input type="message" class="form-control" style="border:none; padding: 3px;" id="inputMessage"
        placeholder="Maria, what are you thinking?" #inputMessage>

      <div style="text-align:center;padding: 20px 20px 20px 20px;">
        <div *ngIf="url; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <img [src]="url" class="uploadImg" (click)="removeFile()">
        </ng-template>
        <ng-template #elseBlock>
          <input type="file" (change)="selectFile($event)">
        </ng-template>
      </div>

      <div class="box">
        <div class="container">
          <div class="form-group row">
            <label for="inputLocation" class="col-form-label">Location:</label>
            <div>
              <input type="Location" class="form-control" id="inputLocation" placeholder="Enter Location" #inputLocation>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputKeyword" class="col-form-label">Key word:</label>
            <div>
              <input type="Keyword" class="form-control" id="inputKeyword" placeholder="Enter Key word" #inputKeyword>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="alertType;">
      <ngb-alert [type]="alertType" (close)="closeAlert()">{{ alertMessage }}</ngb-alert>
      </div>
      <button type="button" class="btn btn-primary d-flex justify-content-center"
        (click)="writePost(inputMessage.value, inputLocation.value, inputKeyword.value)">Write a post</button>

    </form>
  </div>
</ng-template>

<button type="button" class="btn btn-outline-primary mb-2 mr-2" (click)="openCustomModal(longContent)">Upload</button>

<div *ngIf="alertType === success;">
  <ngb-alert [type]="alertType" (close)="closeAlert()">{{ alertMessage }}</ngb-alert>
</div>
